$color-back: #FFFFFF;
$color-logo-back: #458FF6;
$color-logo-typography: #FFFFFF;
$color-logo-text: #233348;
$color-topbar-selected:rgba(31, 21, 52, 1);
$color-topbar-not-selected: rgba(31, 21, 52, 0.5);
