$color-back: #FFFFFF;
$color-logo-back: #458FF6;
$color-logo-typography: #FFFFFF;
$color-logo-text: #233348;
$color-topbar-selected:rgba(31, 21, 52, 1);
$color-topbar-not-selected: rgba(31, 21, 52, 0.5);
$color-text: #7D7987;
$color-button-back: #458FF6;
$color-button-text: #FFFFFF;
$color-button-hover-back: #fffacc;
$color-button-hover-text: #233348;
$color-shadow: rgba(229, 233, 246, 0.4);
$color-card-back: #FFFFFF;
$color-divider: #000000;
$color-text-title: #000000;
$color-button-transparent-back: transparent;
$color-button-transparent-border: #458FF6;
$color-button-transparent-text: #458FF6;
