$color-back: #FFFFFF;
$color-logo-back: #458FF6;
$color-logo-typography: #FFFFFF;
$color-logo-text: #233348;
$color-topbar-selected:rgba(31, 21, 52, 1);
$color-topbar-not-selected: rgba(31, 21, 52, 0.5);
$color-text: #7D7987;
$color-button-back: #458FF6;
$color-button-text: #FFFFFF;
$color-button-hover-back: #fffacc;
$color-button-hover-text: #233348;