@import 'src/styles';

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 350px;
    height: 354px;
    background-color: $color-card-back;
    padding: 54px 45px 47px 39px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px 0px $color-shadow;

    .imageContainer {
        display: flex;
        flex-direction: row;
        justify-content: start;

        .image {
            object-fit: contain;
            height: 90px;
        }
    }

    .textBlock {
        display: flex;
        flex-direction: column;
        gap: 1px;

        .title {
            color: $color-text-title;
            text-align: left;
            font-weight: 700;
            font-size: 24px;
            line-height: 56px;
        }

        .text {
            margin: 0;
            color: $color-text;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            text-align: left;
        }
    }
}