@import 'src/styles';

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 200px;
    height: 56px;
    border-radius: 55px;
    background-color: $color-button-back;
    font-size: 18px;
    font-weight: 700;
    line-height: 60px;
    color: $color-button-text;
}

.button:hover {
    background-color: $color-button-hover-back;
    color: $color-button-hover-text;
    cursor: pointer;
}
